<h2>Список записавшихся:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Дата записи</th>
      <th>Парикмахер</th>
      <th>Цвет</th>
    </tr>
  </thead>  
  
  <tbody>
    <% @clients.each do |client|%>
      <tr>
        <td><a href="/client/<%= client.id%>"><%= client['name'] %></a></td>
        <td><%= client['phone'] %></td>
        <td><%= client['datestamp'] %></td>
        <td><%= client['barber'] %></td>
        <td><%= client['color'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>