<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="client[name]"  type="text" class="form-control" placeholder="Ваше имя" value="<%= @c.name%>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="client[phone]" type="text" class="form-control bbb" placeholder="Ваш телефон" value="<%= @c.phone%>">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="datetimepicker" name="client[datestamp]" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @c.datestamp%>">
  </div>

  <div class="form-group">
    <label>Ваш парикмахер:</label>
    <select name="client[barber]" class="form-control" >

      <% @barbers.each do |barber| %>
        <option <%= @barber == barber.name ? 'selected' : '' %>><%= barber.name %></option>
      <% end %>

    </select>
  </div>

  <div class="form-group">
    <label>В какой цвет хотите себя окрасить: </label>
    <select id="color" name="client[color]">
      <option value="без окрашивания">без окрашивания</option>
      <option value="желтый">желтый</option>
      <option value="каштановый">каштановый</option>
      <option value="розовый">розовый</option>
      <option value="чёрный">чёрный</option>
      <option value="пепельный">пепельный</option>
    </select>
  </div>

  
  <button type="submit" class="btn btn-primary">Записаться</button>

</form>

